[Desktop Entry]
Name=Mycroft
Name[en_GB]=Mycroft
MimeType=application/vnd.debian.binary-package;application/x-rpm;
Exec=MycroftSkillInstaller %F
Icon=mycroft-plasma-appicon
Type=Application
NoDisplay=false
GenericName=Mycroft Kirigami Application
Categories=Qt;KDE;System;Mycroft;Ai;Automation;
Keywords=program;software;mycroft;Ai;skills;automation;
